<div fxLayout="column" class="main" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">
        <div fxFlex="60%">
            <mat-card style="background-color: black;">
                <mat-card-content>
                    <div id="terminal_{{queryParams.processid}}"></div>
                </mat-card-content>
            </mat-card>
            <button mat-fab color="dark" matTooltip="sync" class="menu-button" (click)="getLogger()">
                <mat-icon>sync</mat-icon>
            </button>
        </div>
        <div fxFlex="40%">
            <mat-card style="height: 84vh;">
                <div style="padding: 10px;">
                    <div fxLayout="row" fxLayoutGap="10px" style="padding-left: 5px;" fxLayoutAlign="space-between">
                        <div fxLayout="column" fxLayoutGap="10px">
                            <span id="instance-name">{{queryParams.name}}</span>
                            <span id="instance-log-path">{{queryParams[queryParams.type]}}</span>
                        </div>
                        <div fxLayout="row" fxLayoutGap="10px">
                            <button mat-raised-button color="primary" (click)="processAction('stop')">stop</button>
                            <button mat-raised-button color="accent" (click)="processAction('reload')">reload</button>
                            <button mat-raised-button color="warn" (click)="processAction('restart')">restart</button>
                        </div>
                    </div>
                </div>
                <div class="custom-card-center" style="height: 90%; overflow-y: auto;">
                    <div class="command-content" *ngFor="let message of messageArr.slice().reverse();">
                        <div class="command-history-content" *ngIf="message.type == 'command_sent'">
                            <div class="command-preview-message">
                                <span>{{message.body}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutGap="5px" class="text-field-box">
                    <textarea type="text" placeholder="Enter Commands" class="text-field-input" [(ngModel)]="command" (keydown.enter)="sendCommand()"></textarea>
                </div>
            </mat-card>
        </div>
    </div>
</div>
