main {
    background-color: #FAFAFA;
    background: url('../../assets/vecteezy_abstract-boxes-background-modern-technology-with-square_8171873.jpg');
    background-size: cover;
  }
  
  .center {
    height: 100vh;
  }
  
  .sf_logo {
    img {
        height: 90px;
        // width: 100px;
    }
  }
  
  .login_form {
    mat-card {
        border-radius: 15px;
        height: 40vh;
        width: 50vh;
    }
  
    mat-form-field {
        width: 40vh;
    }
  
    mat-icon:hover {
        cursor: pointer;
    }
  }
  
  button {
    margin-right: 0vw;
    background: #000 !important;
    color: white;
    font-size: 13px;
    line-height: 23px;
    height: 35px;
    width: 40vh;
    position: relative;
    border-radius: 10px;
  }
  
  
  .loading {
    position: relative;
    // left: 70px;
  }
  
  .loading ::ng-deep .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: #1e88e5;
  }
  
  h1 {
    margin: 24px 0;
    font-family: inherit;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: var(--dark);
    letter-spacing: 0.9px;
  }
  
  .forgot-password {
    position: relative;
    top: 10px;
  
    span {
        color: black;
        font-weight: 400;
    }
  
    span:hover {
        cursor: pointer;
    }
  
    span:active {
        text-decoration: underline;
    }
  }
  
  .sign-up {
    position: relative;
    top: 25px;
  
    span {
        color: green;
        font-weight: 500;
        text-decoration: underline;
    }
  
    span:hover {
        cursor: pointer;
    }
  }
  
  .sf_text{
    margin-bottom: 10px;
    position: relative;
    right: 10px;
    h1{
        font-size: 32px;
    }
  }
  
  .reset-link{
    position: relative;
    top: 10px;
    align-self: center;
  }